.my-user-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.my-user-main-container > button{
    position:absolute;
    top:1rem;
    right: 1rem;
    border:none;
    background-color: rgb(16, 127, 16);
    padding: .5rem .8rem;
    border-radius: .5rem;
    font: bold .8rem sans-serif;
    color:#FFF;
    transition: background-color .150s ease;
}

.my-user-main-container > button:hover{
    background-color: rgb(53, 176, 53);
    cursor: pointer;
}

.user-data-container {
    display:flex;
    justify-content: center;
    align-items: center;
    fill: #FFF;
    color:#FFF;
    font: century gothic 5vh bold;
    background-color: #0052c5;
    border-radius: 10px;
    width: max(40vh, 80vw);
    height:20vh;
}

.user-data-container > h1{
    font-family:century gothic;
    font-size: min(2rem, 5vw);
    color:#FFF;
    position:absolute;
    text-transform: uppercase;
}